i.icon,
i.icons {
  font-size: 1em !important;
}
.navigation .ui.secondary.pointing.menu .item, .tools .ui.secondary.pointing.menu .item {
  padding: .0em !important;
  margin: 0em .2em 0em !important;
  text-transform: none !important;
}
.ui.menu .dropdown.item .menu {
  min-width: fit-content !important;
}
.ui.menu .ui.dropdown.item .menu .item:not(.filtered) {
  display: flex !important;
}
.ui.menu .ui.dropdown .menu > .item, .ui.menu .dropdown-popup .ui.popup .menu > .item {
  padding: 0em !important;
  margin: 0em !important;
}
.ui.menu .item > i.dropdown.icon {
  margin: 0em !important;
}
