.ui.menu .ui.dropdown.item .menu .item:not(.filtered) {
  display: -webkit-box !important;
  min-width: 12em;
  max-width: 15em;
  white-space: wrap;
}
.ui.dropdown.item i.icon,
.ui.dropdown.item i.icons {
  font-size: 1em !important;           /* Make icon proportional to text. */
  padding: 0em !important;
}
.menu-head-item {
  border-bottom: solid thin;
}

.ui.menu .item > i.dropdown.icon {
  float: right;
}
.ui.menu .ui.dropdown.item .menu .item {
  display: flex !important;     /* Horizontally align icon with entry text. */
  padding: .2em !important;
}
.ui.menu .dropdown.item .menu {
  min-width: fit-content !important;   /* Snug menu to contents width. */
}
.navigation .ui.secondary.pointing.menu .item, .tools .ui.secondary.pointing.menu .item {
  padding: 0em !important;
  margin: 0em 10px 0em 5px !important;  /* Be careful: this can push icon being outside menu box! */
  text-transform: none !important;     /* Don't upcase container titles*/
}
.ui.menu .item > i.dropdown.icon {
  padding: 0em !important;
  margin: 0em !important;
}
.ui.secondary.menu .dropdown.item > .menu, .ui.text.menu .dropdown.item > .menu {
  /* Effectively eliminate gap between base menu element and offspring menu: */
  margin-top: 0px !important;
}
.ui.simple.dropdown .menu {
  /* Make menu fade-in discernable but still brief: */
  transition: opacity 0.4s ease !important;
}
.ui.menu .item {
  color: black !important;  /* Kludge so nested menu headers don't get pale. */
}
